/*!*custom font*!*/
/*@import url(https://fonts.googleapis.com/css?family=Montserrat);*/

/*!*basic reset*!*/
/** {*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

/*html {*/
    /*height: 100%;*/
    /*!*background: #6441A5; !* fallback for old browsers *!*!*/
    /*!*background: -webkit-linear-gradient(to left, #6441A5, #2a0845); !* Chrome 10-25, Safari 5.1-6 *!*!*/
/*}*/

/*body {*/
    /*font-family: montserrat, arial, verdana;*/
    /*background: transparent;*/
/*}*/

/*!*form styles*!*/
/*#msform {*/
    /*text-align: center;*/
    /*position: relative;*/
    /*margin-top: 30px;*/
/*}*/

/*#msform fieldset {*/
    /*background: white;*/
    /*border: 0 none;*/
    /*border-radius: 0px;*/
    /*box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);*/
    /*padding: 20px 30px;*/
    /*box-sizing: border-box;*/
    /*width: 80%;*/
    /*margin: 0 10%;*/

    /*!*stacking fieldsets above each other*!*/
    /*position: relative;*/
/*}*/

/*!*Hide all except first fieldset*!*/
/*#msform fieldset:not(:first-of-type) {*/
    /*display: none;*/
/*}*/

/*!*inputs*!*/
/*#msform input, #msform textarea {*/
    /*padding: 15px;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 0px;*/
    /*margin-bottom: 10px;*/
    /*width: 100%;*/
    /*box-sizing: border-box;*/
    /*font-family: montserrat;*/
    /*color: #2C3E50;*/
    /*font-size: 13px;*/
/*}*/

/*#msform input:focus, #msform textarea:focus {*/
    /*-moz-box-shadow: none !important;*/
    /*-webkit-box-shadow: none !important;*/
    /*box-shadow: none !important;*/
    /*border: 1px solid #ee0979;*/
    /*outline-width: 0;*/
    /*transition: All 0.5s ease-in;*/
    /*-webkit-transition: All 0.5s ease-in;*/
    /*-moz-transition: All 0.5s ease-in;*/
    /*-o-transition: All 0.5s ease-in;*/
/*}*/

/*!*buttons*!*/
/*#msform .action-button {*/
    /*width: 100px;*/
    /*background: #ee0979;*/
    /*font-weight: bold;*/
    /*color: white;*/
    /*border: 0 none;*/
    /*border-radius: 25px;*/
    /*cursor: pointer;*/
    /*padding: 10px 5px;*/
    /*margin: 10px 5px;*/
/*}*/

/*#msform .action-button:hover, #msform .action-button:focus {*/
    /*box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;*/
/*}*/

/*#msform .action-button-previous {*/
    /*width: 100px;*/
    /*background: #C5C5F1;*/
    /*font-weight: bold;*/
    /*color: white;*/
    /*border: 0 none;*/
    /*border-radius: 25px;*/
    /*cursor: pointer;*/
    /*padding: 10px 5px;*/
    /*margin: 10px 5px;*/
/*}*/

/*#msform .action-button-previous:hover, #msform .action-button-previous:focus {*/
    /*box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;*/
/*}*/

/*!*headings*!*/
/*.fs-title {*/
    /*font-size: 18px;*/
    /*text-transform: uppercase;*/
    /*color: #2C3E50;*/
    /*margin-bottom: 10px;*/
    /*letter-spacing: 2px;*/
    /*font-weight: bold;*/
/*}*/

/*.fs-subtitle {*/
    /*font-weight: normal;*/
    /*font-size: 13px;*/
    /*color: #666;*/
    /*margin-bottom: 20px;*/
/*}*/

/*!*progressbar*!*/
/*#progressbar {*/
    /*margin-bottom: 30px;*/
    /*overflow: hidden;*/
    /*!*CSS counters to number the steps*!*/
    /*counter-reset: step;*/
/*}*/

/*#progressbar li {*/
    /*list-style-type: none;*/
    /*color: white;*/
    /*text-transform: uppercase;*/
    /*font-size: 9px;*/
    /*width: 33.33%;*/
    /*float: left;*/
    /*position: relative;*/
    /*letter-spacing: 1px;*/
/*}*/

/*#progressbar li:before {*/
    /*content: counter(step);*/
    /*counter-increment: step;*/
    /*width: 24px;*/
    /*height: 24px;*/
    /*line-height: 26px;*/
    /*display: block;*/
    /*font-size: 12px;*/
    /*color: #333;*/
    /*background: white;*/
    /*border-radius: 25px;*/
    /*margin: 0 auto 10px auto;*/
/*}*/

/*!*progressbar connectors*!*/
/*#progressbar li:after {*/
    /*content: '';*/
    /*width: 100%;*/
    /*height: 2px;*/
    /*background: white;*/
    /*position: absolute;*/
    /*left: -50%;*/
    /*top: 9px;*/
    /*z-index: -1; !*put it behind the numbers*!*/
/*}*/

/*#progressbar li:first-child:after {*/
    /*!*connector not needed before the first step*!*/
    /*content: none;*/
/*}*/

/*!*marking active/completed steps green*!*/
/*!*The number of the step and the connector before it = green*!*/
/*#progressbar li.active:before, #progressbar li.active:after {*/
    /*background: #ee0979;*/
    /*color: white;*/
/*}*/


/*!* Not relevant to this form *!*/
/*.dme_link {*/
    /*margin-top: 30px;*/
    /*text-align: center;*/
/*}*/
/*.dme_link a {*/
    /*background: #FFF;*/
    /*font-weight: bold;*/
    /*color: #ee0979;*/
    /*border: 0 none;*/
    /*border-radius: 25px;*/
    /*cursor: pointer;*/
    /*padding: 5px 25px;*/
    /*font-size: 12px;*/
/*}*/

/*.dme_link a:hover, .dme_link a:focus {*/
    /*background: #C5C5F1;*/
    /*text-decoration: none;*/
/*}*/


/*<!-------begin -->*/
body {
    /*background: #34495e;*/
    /*color: white;*/
    /*text-align: center;*/
    /*font-family: Helvetica, Arial, sans-serif;*/
    /*font-size: 10pt;*/
}

h1 {
    font-size: 3em;
}

a {
    color: inherit;
}

form {
    /*width: 500px;*/
    /*margin: 0 auto;*/
    /*background: white;*/
    /*border-radius: 10px;*/
    /*margin-bottom: 20px;*/
}

input,
.floating-placeholder {
    /*font-family: Helvetica, Arial, sans-serif;*/
    /*font-size: 20pt;*/
    /*line-height: 2.6em;*/
    /*height: 2.6em;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*width: 100%;*/
}

.floating-placeholder input:focus + label {
    /*color: #16abf0;*/
    color: #ccc;
}

.floating-placeholder input[value] + label {
    color: red;
}

.floating-placeholder {
    position: relative;
}

.floating-placeholder input {
    /*font-size: 20pt;*/
    /*border: none;*/
    /*outline: none;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*display: block;*/
    /*background: transparent;*/
    /*z-index: 2;*/
    border-bottom: 1px solid #ccc;
    /*text-indent: 20px;*/
}

.floating-placeholder:last-child input {
    /*border-bottom: none;*/
}

.floating-placeholder label {
    display: block;
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 18pt;
    z-index: 1;
    -moz-transform-origin: 0 0em;
    -ms-transform-origin: 0 0em;
    -webkit-transform-origin: 0 0em;
    transform-origin: 0 0em;
    -moz-transition: -moz-transform 160ms, color 200ms;
    -o-transition: -o-transform 160ms, color 200ms;
    -webkit-transition: -webkit-transform 160ms, color 200ms;
    transition: transform 160ms, color 200ms;
    -moz-transform: scale(1, 1) rotateY(0);
    -ms-transform: scale(1, 1) rotateY(0);
    -webkit-transform: scale(1, 1) rotateY(0);
    transform: scale(1, 1) rotateY(0);
    /*color: #999;*/
}

.floating-placeholder-float label {
    -moz-transform: scale(0.55, 0.55) rotateY(0);
    -ms-transform: scale(0.55, 0.55) rotateY(0);
    -webkit-transform: scale(0.55, 0.55) rotateY(0);
    transform: scale(0.55, 0.55) rotateY(0);
}

.floating-placeholder-float input {
    /*line-height: 3.4em;*/
}
