body{
    font-family: 'Roboto', sans-serif;
}
.top-header{
    height:50px;
    background: hsla(0,0%,100%,.96);
    box-shadow: 0 2px 2px rgba(0,0,0,.15);
    top: 0;
    margin: 0px;
    padding: 0px;
    padding-top:5px; 
    position: fixed;
    width: 100%;
    z-index: 1000;
}
#searchicon{
display: none;
}
.push{margin-bottom: 50px}
.burger-menu{ 
    font-size: 35px;
    padding:10px;
}
.action-menu{ 
    font-size: 30px;
    padding:5px;
}
.menu{
    float:left;
}
.actions{
    float: right;
}
.search-bar{
padding: 20px;
height:90px;
}
.search-input{
    width:100%;
    border :2px solid #ebebeb;
    border-radius: 3px;
    height: 50px;
}
input::placeholder{
   padding-left:10px;
}
.search-icon{
    position: relative;
    font-size: 35px;
    padding:10px;
    bottom:50px;
    left: 320px;
}
.section-header{
    text-align: center;
    font-weight: 600 !important;
    padding:15px;
    font-size: 20px;
}
.categrories{
    width: 100%;
}
.catrgory{
    width: 25%;
    height: 100px;
    float: left;
    text-align: center;
    color: #777777;
    font-size: 12px;
    border: 1px solid #ebebeb; 
}
.category-icons{
    width: 60px;
    height: 60px;
    padding:10px;
}
.featured-line{
    height: 2px;
    background-color: #005AA4;
    width: 100px;
}
.section-1{
    margin-bottom:220px;
    z-index: -100;
}
.section-2{
    margin-top:50px;
    z-index: -100;
}
.logo{
    width: 150px;
    margin-top:-20px;
}

.gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  /* hide disabled button */
.flickity-prev-next-button{
    display: none;
  }
  .flickity-page-dots{
    display: none;
  }
  .banner-section{
      text-align: center;
      font-size: 18px;
  }
  .section-3{
    margin-top:30px;
    background-color: #fafafa;
    padding-top:20px;
  }
  .banner-desc{
      text-align: center;
      font-size: 12px;
      font-style: italic;
      margin-top:-15px;
      color: #777777;
  }
  .should-have-been-a-banner{
      width: 100%;
  }
.newsletter-section{
    text-align: center;
    font-size: 18px;
}
.section-4{
  margin-top:30px;
  padding-bottom: 30px;

}
.newsletter-desc{
    text-align: center;
    font-size: 12px;
    margin-top:-15px;
    color: #777777;
}
.newsletter-input{
    width: 380px;
    border :2px solid #ebebeb;
    border-radius: 3px;
    height: 50px;
    display: block;
    margin : 0 auto;
}  
.btn-newsletter{
    background-color: #005AA4;
    color: white;
    width: 150px;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 30px;
    margin-top:30px;
}
.foot{
    padding: 20px;
    background-color: #fafafa;
    text-align: center;
}
.footer-links{
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    color: #777777;
    margin-top:45px;
}
.copyright{
    text-align: center;
    font-size: 10px;
}
.social{
    width: 200px;
    display: block;
    margin: 0 auto;
    padding-top:20px;
}

.social_icon{
    width: 20px;
    float:left;
    padding:3px;
    margin: 5px;
}
.hr{
    border-bottom: 1px solid #ebebeb;
}
.dropdown-item{
    font-style: normal;
    color: #777777;
    font-size: 12px;
}

.sidebar-overlay {
    background: rgba(54, 25, 25, 0.5);
    height: 240%;
    left: -100%;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
  nav.sidebar {
    background: #fff;
    color: #777777;
    height: 100%;
    left: -80%;
    margin: 0;
    padding: 20px 20px;
    position: absolute;
    width: 80%;
    z-index: 20;
    -webkit-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    -moz-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    position: fixed;
  }
  nav.sidebar .sidebar__btn-close {
    cursor: pointer;
    text-align: right;
    margin-bottom: 20px;
  }
  nav.sidebar > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  nav.sidebar > ul > li {
    padding: 10px 0;
    border-bottom: 1px solid #ebebeb
  }

  .btn-menu {
    background: black;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 10px;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .activebread{
      color:  #005AA4;
      font-size: 12px;
  }
  .unactivebread{
    color:  #777777;
    font-size: 12px;
}
.showroom-header{
    color:  #777777;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
}
.showrooms{
    background-color: #fff;
}
.showroom{
    width: 100%;
}
.showroom-items{
    width:50%;
    padding:10px;
    float: left;
    border :1px solid #ebebeb; 
}
.showroom-img{
    width:180px;
    height: 180px;
    margin: 0 auto;
    display: block;
}
 .showroom-title{
    text-align: center;
    color: #777777;
    font-size: 1em;
    padding-top:15px;
}
.more{
    background-color: #005AA4;
    color: white;
    width: 200px;
    display: block;
    margin: 0 auto;
    border: none;
    margin-top:540px;
    margin-bottom: 20px;
}
.cart-page-title>p{
    color: #777777;
    text-align: center;
}
.cart-container{
    background-color: #fff;
}
.cart-content{
 padding: 10px;
 background-color: #fff;
}
.pro-1010{
    width: 40%;
    float: left;
}
.pro-1020{
    width: 60%;
}
.cart-img{
    width:120px;
    height: 80px;
}
.cart-qty{
    padding:5px;
border: 1px solid #ebebeb;
}
.hold{
    width:100%;
}
.cart-desc{
    margin:10px;
}.cart-price{
    margin-top:20px;
    float: left;
}
.cart-total{
    margin-top:20px;
    float: right;
}
.checkout-img{
    width: 300px;
    margin: 0 auto;
    display: block;
    margin-top:-10px;
}
.checkout-form-head{
    width: 100%;
    height: 50px;
    background-color: #005AA4;
    padding: 15px;
    margin-top:20px;
    color:#fff;
}
.form-control{
    border-radius: 0px;
}
.checkouts-form{
    border: 1px solid #005AA4;
    padding:20px;
}
label{
    color: #777777;
}
.submit-form{
width: 300px;
height: 45px;
display: block;
margin: 0 auto;
background-color: #005AA4;
border-radius: 0px;
}
.card-logo{
    width: 200px;
}
.cards-pyt{
    background: #fff;
    border: 1px #ebebeb;
}